{% extends '::backend.html.twig' %}
        
{% block title %}Home da Administração{% endblock %}


{% block content %}
<h1 class="grid_4">Esta é a Home da Administração.</h1>
<p class="grid_8">Edite em <strong>Mastop\SystemBundle\Resources\views\Backend\Home\index.html.twig</strong></p>
{% endblock %}