{% extends '::backend.html.twig' %}

{% block content %}
<h1>
{% if id is defined %}
    Editar Teste
{% else %}
    Novo Teste
{% endif%}
</h1>
        <form action="{{ path('_teste_save') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
{% if id is defined %}
            <input type='hidden' name='idTeste' value='{{id}}'>
            <input type="submit" name='salvar' value='Editar' />
{% else %}
            <input type="submit" name='salvar' value='Criar' />
{% endif%}
            <input type="button" name='voltar' value='Voltar' onclick="history.go(-1)" />
        </form>
{% endblock content %}  